body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(251, 251, 251);
    font-family: "love", sans-serif;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 15px 30px;
    font-size: 20px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.yes {
    background-color: #88ED99;

}

.no {
    background-color: #d45e5e;
}

h1 {
    color: #f08080;
    text-transform: uppercase;
    font-size: 40px;
}

button:hover {
    transform: scale(1.1);
}